RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp|json|phar|wsdl|gitignore)|~)$">
    RedirectMatch 404 $
</FilesMatch>